<div class="container">
  <div class="title col-xs-12">
    <div class="jumbotron">
      <h1>AirBnb Ideas!</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Nulla vitae elit libero, a pharetra augue. Donec sed odio
        dui. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta
        sem malesuada magna mollis euismod.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>
  <hr>

<div class="container">

    <div class="col-xs-12">

          <% @ideas.each do |idea| %>
            <div class="col-md-6 col-xs-12 pink">
          <table>
            <tr>
            <td><h2><%= idea.title %></h2></td>
            </tr>

            <tr>
            <td><%= idea.body %></td>
            </tr>
            </table>


        <div class="like_n_join col-md-6 col-xs-12">
          <div class="row">

          <% join = idea.join_for(current_user) %>
          <% if idea.joined_by?(current_user) %>
            <%= link_to "Joined", idea_join_path(idea, join), method: :delete %> |
          <% else %>
            <%= link_to "Join", idea_joins_path(idea), method: :post %> |
          <% end %>

          <% like = idea.like_for(current_user) %>
          <% if idea.liked_by?(current_user) %>
            <%= link_to "Liked", idea_like_path(idea, like), method: :delete %>
          <% else %>
            <%= link_to "Like", idea_likes_path(idea), method: :post %>
          <% end %>

          <div class="infos">
            <%= link_to "Joined: #{idea.joins.count} ", idea_joins_path(idea) %> |
            <i></i>  <%= link_to "<i class='glyphicon glyphicon-thumbs-up blue'></i>
            #{idea.likes.count}".html_safe, idea_likes_path(idea) %>
          </div>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="row">
        <div class="col-md-6 col-xs-12 red">


    <h4> Comments </h4>
    <% idea.comment.each do |cmt| %>
      <ul>
        <li><%= cmt.body %></li>
        <%# link_to "Edit", edit_idea_comment_path(idea, cmt) %>
        <%# link_to "Delete", idea_comment_path(idea, cmt), method: :delete,
        data: {confirm: "Are you sure you want delete the comment?"} %>
      </ul>
    <% end %>

    <%= form_for [idea, @comment] do |idea| %>
      <div class="comment_form">
        <%= idea.text_area :body  %>
      </div>
      <%= idea.submit %>
    <% end %>

        </div>
      </div>
    </div>
    <hr>
  <% end %>
  </div>
</div>
